<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="background-image"></div>
    <div class="container">
        <h1>Login</h1>
        <!-- Flash message display -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login') }}" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" required title="Please enter a valid email address.">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" required minlength="8" title="Minimum 8 characters.">
            </div>
            <button type="submit" class="submit-button">Login</button>
        </form>


        <!-- Added "Don't have an account? Register" section -->
        <div class="register-container">
            <p>Don't have an account?</p>
            <a href="{{ url_for('register') }}" class="register-button">Register</a>
        </div>
    </div>
</body>

</html>